<header class="header-navigation" [@headerAnimation]="isChanged ? 'changed' : 'default'">
  <div class="header-logo">
    <img src="{{logoIcon}}" alt="logo">
    <div class="hidden-text">Money Keeper</div>
  </div>
  <ul class="header-icon-list">
    <li class="header-li" *ngFor="let item of navigationItems">
      <img src="{{item.icon}}" alt="{{item.alt}}">
      <div class="hidden-text">
        {{item.text}}
      </div>
    </li>
  </ul>
  <ul class="header-icon-account-list">
    <li class="header-li" *ngFor="let elem of accountInteraction">
      <img src="{{elem.icon}}" alt="{{elem.alt}}">
      <div class="hidden-text">{{elem.text}}</div>
    </li>
  </ul>
  <button (click)="toggleChanged()">
    Open header
  </button>
</header>
